<div class="container">
  <div class="row text-left">
    <div class="col">
      <h1>Delivery</h1>
      <p>Bem vindo ao gerenciador de pedidos</p>
      <hr>
    </div>
  </div>
  <div class="row m-4">
    <div class="col m-3">
      <h3 id="situacao">Status do Pedido: {{ finalizado ? "Finalizado": "Aberto" }}</h3>
      <app-status (onSelecionar)=pedidoFinalizado($event)></app-status>
    </div>
    <div class="col"> 
      <h4>Histórico de pedidos</h4>      
      <app-lista-pedidos [pedidos]="pedidos" (onResetar)="resetarHistorico()"></app-lista-pedidos>
</div>
  </div>
  <div class="row text-left">
    <div class="col-3">
      <hr>
      <h3>Total de pedidos: {{contador == null ? "0": contador}}</h3>
    </div>
 
  <div class="col">
    <hr>
    <app-contador *ngIf="(finalizado == true)" (onContar)="mostrarNrPedido()"></app-contador>
    <button *ngIf="(finalizado != true )" (click)= "pedidoAberto()" class="btn btn-secondary">Aberto</button>
  </div>
</div>
</div>
